<main class="page schedule-page app-main">
  <article class="card schedule-card">
    <h1 class="page-title">Raspored kurseva</h1>

    <div class="schedule-filter">
      <label for="godina" class="field-label">
        Odaberite godinu studija:
      </label>
      <select id="godina" class="field-input" name="godina" [(ngModel)]="selectedYear">
        <option value="">-- izaberite --</option>
        <option value="1">1. godina</option>
        <option value="2">2. godina</option>
        <option value="3">3. godina</option>
        <option value="4">4. godina</option>
      </select>
    </div>

	<div id="tabele">
		<table id="g1" *ngIf="isYear('1')">
			<tr>
				<th>Dan</th><th>Predmet</th><th>Stud. program</th><th>Nastavnik</th><th>Vrijeme</th><th>Učionica</th>
			</tr>
			<tr>
				<td>Ponedjeljak</td>
				<td>Osnove ekonomije</td>
				<td>SP</td>
				<td>dr. sc. Damir Bećirović<br>mail: damirbeci@hotmail.com</td>
				<td>08:30-10:00</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Ponedjeljak</td>
				<td>Poslovno komuniciranje</td>
				<td>TK</td>
				<td>dr. sc. Nedret Kikanović<br>mail: kikan@kpktz.ba</td>
				<td>16:00-17:30</td>
				<td>T1</td>
			</tr>
			<tr>
				<td>Utorak</td>
				<td>Matematika</td>
				<td>IT, IR</td>
				<td>mr. sc. Amila Osmić<br>mail: amka_o@hotmail.co.uk</td>
				<td>16:00-18:15</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Utorak</td>
				<td>Osnove komunikologije</td>
				<td>TK</td>
				<td>Melina Altumbabić, MA<br>mail: altumbabic.melina82@gmail.com</td>
				<td>13:30-15:00</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Četvrtak</td>
				<td>Poslovna informatika</td>
				<td>TK, SP</td>
				<td>dr. sc. Anida Zahirović Suhonjić<br>mail: anida@ipi-akademija.ba</td>
				<td>10:00-11:30</td>
				<td>U1</td>
			</tr>
			<tr>
				<td>Četvrtak</td>
				<td>Uvod u računarstvo i informacione tehnologije</td>
				<td>IT, IR</td>
				<td>dr. sc. Zlatan Begić (NP)<br>Jasenko Topić, MA</td>
				<td>16:30-18:00</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Petak</td>
				<td>Ekonomika i organizacija poslovanja</td>
				<td>SP</td>
				<td>dr. sc. Edin Zahirović<br>mail: edinzahirovic@gmail.com</td>
				<td>14:00-15:30</td>
				<td>U2</td>
			</tr>
			<tr>
				<td>Subota</td>
				<td>Osnove programiranja</td>
				<td>IT, IR</td>
				<td>Mustafa Bešić, mag. družb. inf.<br>mail: besic.mustafa@yahoo.com</td>
				<td>09:00-10:30</td>
				<td>A</td>
			</tr>
		</table>

		<table id="g2" *ngIf="isYear('2')">
			<tr>
				<th>Dan</th><th>Predmet</th><th>Stud. program</th><th>Nastavnik</th><th>Vrijeme</th><th>Učionica</th>
			</tr>
			<tr>
				<td>Ponedjeljak</td>
				<td>Razvoj i izgradnja informacionih sistema</td>
				<td>IT, IR</td>
				<td>dr. sc. Haris Hamidović<br>mail: harishamidovic@gmail.com</td>
				<td>16:00-17:30</td>
				<td>U1</td>
			</tr>
			<tr>
				<td>Ponedjeljak</td>
				<td>Prezentacijske tehnike</td>
				<td>TK</td>
				<td>Nina Terzić, MA<br>mail: nina@ipi-akademija.ba</td>
				<td>13:30-15:00</td>
				<td>U1</td>
			</tr>
			<tr>
				<td>Ponedjeljak</td>
				<td>Primijenjeni finansijski menadžment</td>
				<td>SP</td>
				<td>dr. sc. Damir Bećirović / Eldina Arapčić Likić</td>
				<td>16:00-17:30</td>
				<td>U2</td>
			</tr>
			<tr>
				<td>Utorak</td>
				<td>Odnosi s javnošću</td>
				<td>TK</td>
				<td>dr. sc. Nedret Kikanović</td>
				<td>16:00-17:30</td>
				<td>T1</td>
			</tr>
			<tr>
				<td>Utorak</td>
				<td>Statistika i istraživačke metode</td>
				<td>SP</td>
				<td>dr. sc. Dino Arnaut</td>
				<td>14:30-16:00</td>
				<td>U1</td>
			</tr>
			<tr>
				<td>Utorak</td>
				<td>Programski jezici i programiranje</td>
				<td>IT, IR, SP (IM)</td>
				<td>Jasenko Topić, MA</td>
				<td>16:00-17:30</td>
				<td>U1</td>
			</tr>
			<tr>
				<td>Srijeda</td>
				<td>Finansijsko računovodstvo</td>
				<td>SP (RAČ, BOF)</td>
				<td>dr. sc. Azira Osmanović</td>
				<td>16:30-18:00</td>
				<td>T3</td>
			</tr>
			<tr>
				<td>Četvrtak</td>
				<td>Računarska grafika i animacija</td>
				<td>TK</td>
				<td>Robert Andrejaš, MA</td>
				<td>16:00-17:30</td>
				<td>U3</td>
			</tr>
			<tr>
				<td>Četvrtak</td>
				<td>Javne finansije</td>
				<td>SP</td>
				<td>Malik Ikanović, MA</td>
				<td>16:30-18:00</td>
				<td>T1</td>
			</tr>
			<tr>
				<td>Četvrtak</td>
				<td>Računarske mreže</td>
				<td>IT, IR</td>
				<td>dr. sc. Zlatan Begić</td>
				<td>18:15-19:45</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Petak</td>
				<td>Osnove marketinga i Internet marketing</td>
				<td>TK, SP (IM)</td>
				<td>dr. sc. Admir Čavalić</td>
				<td>16:00-17:30</td>
				<td>U3</td>
			</tr>
		</table>

<table id="g3" *ngIf="isYear('3')">
	<tr>
		<th>Dan</th><th>Predmet</th><th>Stud. program</th><th>Nastavnik</th><th>Vrijeme</th><th>Učionica</th>
	</tr>

	<tr>
		<td>Ponedjeljak</td>
		<td>Direktni marketing</td>
		<td>TK</td>
		<td>Amela Bešlagić, MA<br>mail: amela.beslagic@hotmail.com</td>
		<td>16:00-17:30</td>
		<td>A</td>
	</tr>

	<tr>
		<td>Ponedjeljak</td>
		<td>Računovodstvo banaka i osiguravajućih društava</td>
		<td>SP (RAČ)</td>
		<td>dr. sc. Ankica Čanić<br>mail: ankica@ipi-akademija.ba</td>
		<td>16:00-17:30</td>
		<td>T2</td>
	</tr>

	<tr>
		<td>Utorak</td>
		<td>Elektronska trgovina</td>
		<td>IT, SP (IM), IR</td>
		<td>dr. sc. Anida Zahirović Suhonjić / Adnana Beganlić<br>mail: anida@ipi-akademija.ba<br>mail: adnana@ipi-akademija.ba</td>
		<td>10:15-11:45</td>
		<td>U1</td>
	</tr>

	<tr>
		<td>Utorak</td>
		<td>Projektni menadžment</td>
		<td>SP</td>
		<td>dr. sc. Edin Zahirović / dr. sc. Dino Arnaut<br>mail: edinzahirovic@gmail.com<br>mail: arnaut.dino@gmail.com</td>
		<td>16:30-18:00</td>
		<td>U2</td>
	</tr>

	<tr>
		<td>Utorak</td>
		<td>Publicitet i sponzorstvo</td>
		<td>TK</td>
		<td>Sabina Čavalić, MA<br>mail: sabina_cavalic@yahoo.com</td>
		<td>16:00-17:30</td>
		<td>T3</td>
	</tr>

	<tr>
		<td>Utorak</td>
		<td>Međunarodne poslovne finansije</td>
		<td>SP (BOF)</td>
		<td>Malik Ikanović, MA<br>mail: malik_ikanovic@yahoo.com</td>
		<td>16:00-17:30</td>
		<td>T2</td>
	</tr>

	<tr>
		<td>Utorak</td>
		<td>Društvene mreže</td>
		<td>IR</td>
		<td>mr. sc. Edin Skokić<br>mail: skokic.e@gmail.com</td>
		<td>10:00-11:30</td>
		<td>U2</td>
	</tr>

	<tr>
		<td>Srijeda</td>
		<td>Kontrola i revizija informacionih sistema</td>
		<td>IR</td>
		<td>Amer Bošnjić, mag. el.<br>mail: amer.bosnjic@gmail.com</td>
		<td>16:45-18:15</td>
		<td>U3</td>
	</tr>

	<tr>
		<td>Srijeda</td>
		<td>Web programiranje</td>
		<td>IT, IR</td>
		<td>Selena Kurtić<br>mail: selena.kurtic@yahoo.com</td>
		<td>15:00-16:30</td>
		<td>U1</td>
	</tr>

	<tr>
		<td>Srijeda</td>
		<td>Računovodstvo budžeta i neprofitnih organizacija</td>
		<td>SP (RAČ)</td>
		<td>dr. sc. Ankica Čanić<br>mail: ankica@ipi-akademija.ba</td>
		<td>16:00-17:30</td>
		<td>T2</td>
	</tr>

	<tr>
		<td>Četvrtak</td>
		<td>Web dizajn</td>
		<td>TK</td>
		<td>mr. sc. Edin Skokić<br>mail: skokic.e@gmail.com</td>
		<td>12:15-13:45</td>
		<td>U2</td>
	</tr>

	<tr>
		<td>Četvrtak</td>
		<td>Planiranje i analiza poslovanja</td>
		<td>SP (BOF, IM)</td>
		<td>dr. sc. Azira Osmanović<br>mail: azira.osmanovic1@gmail.com</td>
		<td>16:00-17:30</td>
		<td>T2</td>
	</tr>

	<tr>
		<td>Petak</td>
		<td>Elektronsko bankarstvo i platni promet</td>
		<td>IT, SP (BOF, IM), IR</td>
		<td>mr. sc. Mirhat Đulić<br>mail: mirhatdjulic@gmail.com</td>
		<td>16:00-17:30</td>
		<td>U1</td>
	</tr>

	<tr>
		<td>Petak</td>
		<td>Programiranje u JAVI</td>
		<td>IR</td>
		<td>Selena Kurtić<br>mail: selena.kurtic@yahoo.com</td>
		<td>15:00-16:30</td>
		<td>T1</td>
	</tr>

	<tr>
		<td>Petak</td>
		<td>Primjena upravljačkog računovodstva</td>
		<td>SP (RAČ)</td>
		<td>dr. sc. Ankica Čanić<br>mail: ankica@ipi-akademija.ba</td>
		<td>16:00-17:30</td>
		<td>T2</td>
	</tr>

	<tr>
		<td>Subota</td>
		<td>Istraživanje tržišta</td>
		<td>TK</td>
		<td>Admir Čavalić, MA<br>mail: admir.cavalic@yahoo.com</td>
		<td>09:00-10:30</td>
		<td>U2</td>
	</tr>

</table>

<table id="g4" *ngIf="isYear('4')">
	<tr>
		<th>Dan</th><th>Predmet</th><th>Studijski program</th><th>Nastavnik</th><th>Vrijeme</th><th>Učionica</th>
	</tr>

	<tr>
		<td>Ponedjeljak</td>
		<td>Direktni marketing</td>
		<td>TK</td>
		<td>Amela Bešlagić, MA<br>mail: amela.beslagic@hotmail.com</td>
		<td>16:00-17:30</td>
		<td>A</td>
	</tr>

	<tr>
		<td>Utorak</td>
		<td>Elektronska trgovina</td>
		<td>IT, SP (IM), IR</td>
		<td>dr. sc. Anida Zahirović Suhonjić / Adnana Beganlić<br>mail: anida@ipi-akademija.ba<br>mail: adnana@ipi-akademija.ba</td>
		<td>10:15-11:45</td>
		<td>U1</td>
	</tr>

	<tr>
		<td>Srijeda</td>
		<td>Web programiranje</td>
		<td>IT, IR</td>
		<td>Selena Kurtić<br>mail: selena.kurtic@yahoo.com</td>
		<td>15:00-16:30</td>
		<td>U1</td>
	</tr>

	<tr>
		<td>Četvrtak</td>
		<td>Web dizajn</td>
		<td>TK</td>
		<td>mr. sc. Edin Skokić<br>mail: skokic.e@gmail.com</td>
		<td>11:15-12:45</td>
		<td>U2</td>
	</tr>

	<tr>
		<td>Petak</td>
		<td>Elektronsko bankarstvo i platni promet</td>
		<td>IT, SP (BOF, IM), IR</td>
		<td>mr. sc. Mirhat Đulić<br>mail: mirhatdjulic@gmail.com</td>
		<td>16:00-17:30</td>
		<td>U1</td>
	</tr>

</table>
	</div>
</article>

<footer class="app-footer"> &copy; Internacionalna poslovno-informaciona akademija Tuzla</footer>
